{% extends 'template.html' %}

{% block title %}
<title>Unes Universidade - Quem somos</title> 
{% endblock %}

{% block content %}    

    <!--Unique for Pages-->
    <div>
        <!-- Title1 -->
        <h1>Quem somos</h1>
        <!-- Text1 -->
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!
        </p>
        <!-- List -->
        <h2 >5 Motivos para estudar</h2>
        <p style = "padding: 20px;">1.Material<br>2.Tablet em sala de aula<br>3.Professores renomados<br>4.Universidade bem avaliada<br>5.Ótima localização</p>
        <hr>
        <!-- Title2 -->
        <h1 >Objetivos</h1>
        <!-- Text2 -->
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti at nobis fugiat magni asperiores velit, blanditiis minima laboriosam sit ex culpa esse veritatis reprehenderit modi recusandae saepe ipsam quae!</p>
{% endblock %}